.dotp{
    /* border: 2px solid #ff0000; */
    margin-top: -15px;
}
.dottwo{
     /* border: 2px solid #ff0000; */
     width: 100%;
     /* height: 60px; */
}
.myimg{
    /* border: 2px solid red; */
    height:400px;
      width: auto; /* Maintains aspect ratio */
  object-fit: contain; /* Fits inside without cropping */
}
@media (max-width: 768px) {
    .myimg{
        height:270px;
         width: auto; /* Maintains aspect ratio */
  object-fit: contain; /* Fits inside without cropping */
  /* object-fit: cover;  */
    }
    .roundbtn{
     border-radius: 50%;
     padding: 15px;
     margin-left: -55px;
     /* border: 2px solid red; */
}
}
/* Tablets only (767px to 1023px) */
@media (min-width: 767px) and (max-width: 1024px) {
.dro{
    /* border: 2px solid red; */
}
}
.droo{
    /* border: 2px solid red;  */
}